<!-- <header>
   <nav>
     <ul>
      <li><a href="{{ url_for('foodinput') }}">Create Meal</a></li>
      <li><a href="{{ url_for('foodtable') }}">View Meal</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header> -->

<header>
  <nav>
      <ul>
          <li><a href="#" onclick="navigateTo('foodinput')">Create Meal</a></li>
          <li><a href="#" onclick="navigateTo('foodtable')">View Meal</a></li>
          <li><a href="#" onclick="logout()">Logout</a></li>
      </ul>
  </nav>
</header>

